.social-icons {
  display: flex;
  gap: var(--icon-gap);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px var(--main-padding);
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  filter: brightness(0) invert(1);
}