<footer class="footer">
  <div class="social-icons">
    <a href="https://www.instagram.com/maryia_yushkova/" target="_blank" class="icon-link">
      <img src="assets/icons/instagram.svg" alt="Instagram" class="icon">
    </a>
    <a href="https://t.me/mariesiushkova" target="_blank" class="icon-link">
      <img src="assets/icons/telegram.svg" alt="Telegram" class="icon">
    </a>
    <a href="https://vk.com/sunfunni" target="_blank" class="icon-link">
      <img src="assets/icons/vk.svg" alt="VK" class="icon">
    </a>
  </div>
</footer>