<div class="d-flex flex-column m-auto">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3 col-3">Логин</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error': !login || login.length < 3}"
           [(ngModel)]="login"/>
  </div>

  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <span class="mx-3 col-3">Пароль</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error': !password || password.length < 6}"
           [(ngModel)]="password"/>
  </div>


  <div class="mt-3 d-flex justify-content-between align-items-center flex-wrap">
    <p-button
      label="Войти"
      [disabled]="!login || !password || login.length < 3 || password.length < 6"
      (onClick)="onAuth()"
    ></p-button>
  </div>

</div>

