<div class="auth-form">
  <div class="form-row">
    <span>Логин</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error': !login || login.length < 3}"
           [(ngModel)]="login"
           placeholder="Введите логин"/>
  </div>

  <div class="form-row">
    <span>Пароль</span>
    <input type="password"
           pInputText
           [ngClass]="{'input-error': !password || password.length < 6}"
           [(ngModel)]="password"
           placeholder="Введите пароль"/>
  </div>

  <div class="form-actions">
    <p-button
      label="Войти"
      [disabled]="!login || !password || login.length < 3 || password.length < 6"
      (onClick)="onAuth()"
      class="auth-button"
    ></p-button>
  </div>
</div>