<div class="p-fluid p-grid p-justify-center">
  <div class="p-col-12">
    <p-card header="Добавить локацию">
      <form [formGroup]="pointForm" (ngSubmit)="onSubmit()">
        <div class="p-field p-grid">
          <label for="name" class="p-col-12 p-md-2">Наименование контента</label>
          <div class="p-col-12 p-md-10">
            <input id="name" type="text" pInputText formControlName="name" />
            <small *ngIf="pointForm.get('name')?.invalid && submitted" class="p-error">
              Укажите наименование!
            </small>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="description" class="p-col-12 p-md-2">Текст</label>
          <div class="p-col-12 p-md-10">
            <textarea id="description" rows="5" pInputTextarea formControlName="description"></textarea>
            <small *ngIf="pointForm.get('description')?.invalid && submitted" class="p-error">
              Введите описание!
            </small>
          </div>
        </div>

        <div class="p-field p-grid">
          <label for="images" class="p-col-12 p-md-2">Фотографии</label>
          <div class="p-col-12 p-md-10">
            <p-fileUpload #fileUpload name="images" 
             [multiple]="true" 
             accept="image/*" 
             [maxFileSize]="10000000"
             (onSelect)="onUpload($event)"
             [showUploadButton]="false"
             [showCancelButton]="false"
             chooseLabel="Выбрать файл">
            </p-fileUpload>
          </div>
        </div>

        <div class="button-group">
          <button pButton type="submit" label="Добавить" class="p-button-success"></button>
          <button pButton type="button" label="Очистить форму" class="p-button-secondary" (click)="clearForm()"></button>
        </div>
      </form>
    </p-card>
  </div>
</div>