<div class="nearest-travels-container">
  <h2 class="section-title">Недавние страны</h2>
  <div class="nearest-travels-cards">
   <div *ngFor="let travel of nearestTravels" class="nearest-travel-card" (click)="navigateToTravel(travel.id)">
      <img [src]="travel?.img" alt="{{travel?.country}}" class="travel-image">
      <div class="travel-info">
        <div class="travel-country">{{travel?.country}}</div>
        <div class="travel-city">{{travel?.city}}</div>
        <div class="travel-year">{{travel?.year}}</div>
      </div>
    </div>
  </div>
</div>