<header class="navigation-bar">
  <app-header></app-header>
</header>

<div class="travels-container">
  <div class="travels-main">
    <div class="travels-content">
      <div class="travel-cards">
        <div *ngFor="let travel of travels" class="travel-card" [routerLink]="['/travels', travel.id]">
          <img [src]="'assets/img_countries/' + travel.img" alt="{{travel.country}}" class="travel-image">
          <div class="travel-info">
            <h3 class="travel-country">{{travel.country}}</h3>
            <h4 class="travel-city">{{travel.city}}</h4>
            <p class="travel-description">{{travel.short_description}}</p>
            <div class="travel-year">{{travel.year}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>