<div class="travels-container main-content">
  <div class="travels-main">
    
    <div class="travels-content">
      <app-nearest-travels></app-nearest-travels>
      
      <div class="show-all-button-container">
        <button class="show-all-button" (click)="toggleCountries()">
          {{buttonText}}
        </button>
      </div>

      <app-aside-travels 
      *ngIf="showAside" 
      (yearFilterChange)="filterByYear($event)"
      [class.hidden]="!showAside">
    </app-aside-travels>
      
      <div class="travel-cards" *ngIf="showAllCountries">
        <div *ngFor="let travel of filteredTravels" class="travel-card" (click)="openCountry(travel.id)">
          <img [src]="getImageUrl(travel.img)" alt="{{travel.country}}" class="travel-image">
          <div class="travel-info">
            <h3 class="travel-country">{{travel.country}}</h3>
            <h4 class="travel-city">{{travel.city}}</h4>
            <p class="travel-description">{{travel.short_description}}</p>
            <div class="travel-year">{{travel.year}}</div>
          </div>
          <div class="travel-actions" *ngIf="isAdmin">
            <button pButton type="button" 
                    icon="pi pi-pencil" 
                    class="p-button-rounded p-button-info"
                    [routerLink]="['/travels/edit', travel.id]">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>