<header class="navigation-bar">
  <app-header></app-header>
</header>

<div class="country-content-wrapper">
  <app-aside [points]="points"></app-aside>

<div class="country-background">
  <div class="overlay"></div>
  
  <div class="country-content" *ngIf="!isNotFound && country">
    <div class="country-header">
      <div class="header-title">
        <img [src]="country.flag" alt="{{country.country}} flag" class="country-flag">
        <h1>{{country.country}}</h1>
      </div>
    </div>
    <div class="country-description">
      <h1>{{country.description}}</h1>
    </div>

    <div class="points-container">
      <div *ngFor="let point of points" class="point-card" [id]="point.id">
        <h3>{{point.name}}</h3>
        <div [innerHTML]="formatDescription(point.description)"></div>
        
        <p-carousel *ngIf="point.img?.length" [value]="point.img" [circular]="true" [autoplayInterval]="3000">
          <ng-template let-image pTemplate="item">
            <div class="carousel-image-container">
              <img [src]="image" [alt]="point.name" class="carousel-image">
              <div class="zoom-icon" (click)="openImageModal(image)">
                <i class="pi pi-plus"></i>
              </div>
            </div>
          </ng-template>
        </p-carousel>
        <p-dialog 
          [(visible)]="displayModal" 
          [modal]="true" 
          [style]="{width: '80vw', maxWidth: '1200px'}" 
          [baseZIndex]="10000"
          [dismissableMask]="true"
          (onHide)="onModalHide()">
          <img [src]="selectedImage" [alt]="'Enlarged ' + (point?.name || 'image')" class="modal-image">
        </p-dialog>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="isNotFound" class="not-found">
  <h2>Country not found</h2>
  <p>The country you're looking for doesn't exist or has been removed.</p>
</div>
<app-footer></app-footer>