<header class="navigation-bar">
  <app-header></app-header>
</header>

<div class="country-background">
  <div class="overlay"></div>
  
  <div class="country-content" *ngIf="!isNotFound && country">
    <div class="country-header">
      <h1>{{country.country}}</h1>
      <h2>Столица страны: {{country.city}}</h2>
    </div>

    <div class="points-container">
      <div *ngFor="let point of points" class="point-card">
        <h3>{{point.name}}</h3>
        <p>{{point.description}}</p>
        
        <p-carousel *ngIf="point.img?.length" [value]="point.img" [circular]="true" [autoplayInterval]="3000">
          <ng-template let-image pTemplate="item">
            <div class="carousel-image-container">
              <img [src]="image" [alt]="point.name" class="carousel-image">
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isNotFound" class="not-found">
  <h2>Country not found</h2>
  <p>The country you're looking for doesn't exist or has been removed.</p>
</div>