.user-icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

.user-icon-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-name {
  font-size: 14px;
  color: white;
}

.user-tooltip {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
}


.nav-list {
  display: flex;
  gap: var(--nav-gap);
  justify-content: end;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.nav-link {
  padding: calc(var(--header-height) * 0.3) calc(var(--header-height) * 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dela Gothic One', Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  font-size: var(--nav-link-font-size);
  letter-spacing: 0;
  line-height: normal;
  transition: all 0.3s;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  position: relative;

  &:hover {
    background-color: transparent;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 20px);
      height: 2px;
      background-color: #00b4ff;
    }
  }

  &.active {
    background-color: transparent;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 20px);
      height: 2px;
      background-color: #00b4ff;
    }
  }

  @media (max-width: 480px) {
    padding: 8px 12px;
    &:hover::after,
    &.active::after {
      width: calc(100% - 24px);
    }
  }
}