<nav class="header">
  <div class="nav-list">
    <a 
      *ngFor="let item of navItems"
      class="nav-link"
      [style.width]="item.width"
      [routerLink]="item.route"
      routerLinkActive="active"
    >
      {{item.text}}
    </a>
    <div class="user-icon-container" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false">
      <a 
        [routerLink]="isAuthenticated ? null : '/auth'" 
        class="user-icon-link"
        (click)="!isAuthenticated && onAuthClick()"
      >
        <i [class]="isAuthenticated ? 'pi pi-user' : 'pi pi-sign-in'"></i>
        <span *ngIf="isAuthenticated" class="user-name">{{userName}}</span>
      </a>
      <div *ngIf="showTooltip && isAuthenticated" class="user-tooltip">
        {{userName}}
      </div>
    </div>
  </div>
</nav>