.nav-list {
  display: flex;
  gap: var(--nav-gap);
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.nav-link {
  padding: calc(var(--header-height) * 0.3) calc(var(--header-height) * 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dela Gothic One', Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  font-size: var(--nav-link-font-size);
  letter-spacing: 0;
  line-height: normal;
  transition: all 0.3s;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;

  &:hover {
    border-radius: 3px;
    background-color: #114967;
  }

  &.active {
    border-radius: 3px;
    background-color: #114967;
  }

  @media (max-width: 480px) {
    padding: 8px 12px;
  }
}