.aside-travels-container {
  padding: 1rem;
  background-color: #114967;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


  .settings-section {
    margin-bottom: 1.5rem;
    
    .travels-settings-button {
      margin-left: auto;
      display: block;
      color:aliceblue;
    }
  }

  .filter-section {
    h3 {
      margin-bottom: 1rem;
      color: #062c50;
    }

    .year-filter {
      margin-bottom: 1rem;
      
      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;
      }
    }

    .reset-button {
      width: 100%;
    }
  }

}