<div class="auth-form">
  <div class="form-row">
    <span>Логин</span>
    <input
      type="text"
      pInputText
      [ngClass]="{'input-error': !login || login.length < 3}"
      [(ngModel)]="login"
      placeholder="Придумайте логин"
    />
  </div>

  <div class="form-row">
    <span>Пароль</span>
    <input type="password"
           pInputText
           [ngClass]="{'input-error': !password || password.length < 6}"
           [(ngModel)]="password"
           placeholder="Придумайте пароль"/>
  </div>

  <div class="form-row">
    <span>Повторите пароль</span>
    <input type="password"
           pInputText
           [ngClass]="{'input-error': password !== repeatPassword}"
           [(ngModel)]="repeatPassword"
           placeholder="Повторите пароль"
    />
  </div>

  <div class="form-row">
    <span>Email</span>
    <input type="email"
           pInputText
           [(ngModel)]="email"
           placeholder="Введите email"/>
  </div>

  <div class="form-actions">
    <p-button
      label="Зарегистрироваться"
      [disabled]="!login || !password || login.length < 3 || password.length < 6 || password !== repeatPassword"
      (onClick)="onAuth()"
      class="auth-button"
    ></p-button>
  </div>
</div>